
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#flash-message {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.gray_background {
    background-color: rgba(220, 220, 220, 0.18) !important;
}

.panel {
    border: 1px solid rgba(220, 220, 220, 0.18);
}

.orange_glow {
    border-bottom: 2px solid orange;
}

.orange_border {
    border: 2px solid orange;
}

.blue_glow {
    border-bottom: 2px solid #08c;
}

.blue_border {
    border: 2px solid #08c;
}

.green_glow {
    border-bottom: 2px solid #2AB27B;
}

.green_border {
    border: 2px solid #2AB27B;
}

.gray_glow {
    border-bottom: 2px solid gray;
}

.progress-bar-warning{
    background-color: orange !important;
}

.status-button {
    cursor: pointer; cursor: hand;
}

[v-cloak] { display:none; }
